.title {
  position: relative;
  float: left;
  list-style: none;
  padding: 0 16px;
  bottom: 5vh;
  left: 8vh;
  font-size: 40px;
  letter-spacing: 5px;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: auto;
  padding-left: 50vh;
  height: 0vh;
}

.img-1 {
  position: relative;
  top: 2vh;
  left: 1vh;
}

header nav ul li {
  font-size: 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

.hamburger div {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
  z-index: 2;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 3%;
    z-index: 2;
    bottom: 16vh;
  }

  .line {
    width: 30px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 5px;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: -1vh;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .line {
    width: 30px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 5px;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -6px);
}
