.logo {
  float: left;
  display: flex;
  font-size: 40px;
  letter-spacing: 5px;
}
.title {
  padding-left: 8px;
}
.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: auto;
  padding-left: 50vh;
  height: 6%;
  
}

.nav-links li {
  font-size: 20px;
  
}

.nav-links li a {
  color: #000;
  text-decoration: none;
}

form {
  display: flex;
  justify-content: center;
}

.input-container {
  position: relative;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  color: white;
}

.search {
  transition: all 1s;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border-width: 1px;
  width: 42.5px;
  font-size: 1em;
  border-radius: 20px;
  top: 0%;
  left: 0%;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #05050a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.input-container:hover .search {
  width: 300px;
  color: black;
}

.input-container:valid input {
  display: block;
}
.input-container:hover .fa {
  background: black;
  color: white;
}

@media only screen and (max-width: 900px) {
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 2%;
    z-index: 99;
    bottom: 16vh;
  }

  .line {
    width: 30px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 5px;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: -1vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 4;
  }

  .nav-links li {
    opacity: 8;
  }

  .line {
    width: 30px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 5px;
  }

  .logo {
    align-items: center;
    z-index: 99;
    font-size: 32px;
    padding-left: 30%;
    padding-top: 14px;
  }

  .img-1 {
    z-index: 99;
    top: 1vh;
  }
  .nav-active {
    transform: translateX(0%);
  }

  .input-container:hover .search {
    width: 200px;
    color: black;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-7px, -6px);
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    text-align: center;
    z-index: 99;
    font-size: 32px;
    padding-left: 18%;
    padding-top: 2vh;
  }
  .nav-active {
    transform: translateX(0%);
  }

  .input-container:hover .search {
    width: 200px;
    color: black;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-7px, -6px);
  }
}
