.title {
  position: relative;
  float: left;
  list-style: none;
  padding: 0 16px;
  bottom: 5vh;
  left: 8vh;
  font-size: 40px;
  letter-spacing: 5px;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: auto;
  padding-left: 50vh;
  height: 0vh;
}

.img-1 {
  position: relative;
  top: 2vh;
  left: 1vh;
}

header nav ul li {
  font-size: 20px;
}

a:link {
  text-decoration: none;
  color: black;
}
