.image-banner {
  background-image: url("../../pics/MiniPhone.jpg");
  height: calc(100vh - 91px);
  min-height: 300%;
  background-size: cover;
  position: relative;
  top: 0vh;
}

.text-1 {
  font-size: 60px;
  font-family: Roboto;
  font-weight: 400;
  padding-top: 17vh;
  padding-right: 69vh;
  text-align: center;
}

.text-2 {
  font-size: 80px;
  font-weight: bold;
  font-family: Roboto;
  padding-top: 3vh;
  width: 600px;
  text-align: center;
  padding-left: 27vh;
}

.text-3 {
  font-size: 20px;
  font-family: Roboto;
  padding-left: 39vh;
  padding-top: 3vh;
}

input {
  position: relative;
  left: 44vh;
  padding-right: 30vh;
  line-height: 20px;
  border-radius: 19px;
  border-width: 1px;
  top: 3vh;
  z-index: 1 1000;
}

button {
  position: relative;
  left: 38vh;
  border-radius: 0vh 7vh 7vh 0;
  background-color: black;
  line-height: 20px;
  border-width: 1px;
  top: 3vh;
  color: white;
}

p {
  position: relative;
  padding-left: 54vh;
  padding-top: 2vh;
  font-size: 14px;
  color: red;
}

@media only screen and (max-width: 1000px) {
  .image-banner {
    background-image: url("../../pics/MiniPhone-Mobile.jpg");
    height: calc(100vh - 0px);
    min-height: 700%;
    background-size: cover;
    position: relative;
    top: 7vh;
  }

  .text-1 {
    font-size: 48px;
    font-family: Roboto;
    font-weight: 400;
    padding-top: 8vh;
    padding-right: 0vh;
    text-align: center;
  }

  .text-2 {
    font-size: 50px;
    font-weight: bold;
    font-family: Roboto;
    padding-top: 39vh;
    width: 400px;
    text-align: center;
    padding-left: 0vh;
  }

  .text-3 {
    font-size: 12px;
    font-family: Roboto;
    padding-left: 8vh;
    padding-top: 3vh;
  }

  input {
    position: relative;
    left: 12vh;
    padding-right: 3vh;
    line-height: 10px;
    border-radius: 19px;
    border-width: 1px;
    top: 2vh;
    z-index: 1 1000;
  }

  button {
    position: relative;
    left: 8vh;
    border-radius: 0vh 7vh 7vh 0;
    background-color: black;
    line-height: 16px;
    border-width: 1px;
    top: 2vh;
    color: white;
  }

  p {
    position: relative;
    padding-left: 12vh;
    padding-top: 2vh;
    font-size: 10px;
    color: red;
  }
}
